<html>
    <head>
        <title>Desafio modulo 1</title>
    </head>

    <body>
        <form action="/check" method="POST">
            <input type="text" name="nome" />
            <input type="date" name="dtnascimento" />
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
